* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #2c5364, #203a43, #0f2027);
  font-family: "Jua", sans-serif;
}
.hover_wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.hover_wrap .effect {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px;
}
.hover_wrap .effect .front {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.hover_wrap .effect .back {
  position: absolute;
  left: 0;
  top: 0;
}
.hover_wrap .effect figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 3% 4%;
  box-sizing: border-box;
  color: #fff;
}
.hover_wrap .effect figcaption h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.hover_wrap .effect figcaption p {
  font-size: 20px;
}
.hover_wrap .effect img {
  width: 100%;
  display: block;
}

/* Media quary */
@media (max-width: 600px) {
  .hover_wrap {
    flex-direction: column;
  }
}

/* hover effect1 */

.hover_wrap .effect.hover7 .front {
  transform: rotateY(0deg);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover7:hover .front {
  transform: rotateY(180deg);
}
.hover_wrap .effect.hover7 .back {
  transform: rotateY(-180deg);
  transition: transform 1s;
}
.hover_wrap .effect.hover7:hover .back {
  transform: rotateY(0deg);
}
.hover_wrap .effect.hover8 .front {
  transform: rotateX(0deg);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover8:hover .front {
  transform: rotateX(180deg);
}
.hover_wrap .effect.hover8 .back {
  transform: rotateX(-180deg);
  transition: transform 1s;
}
.hover_wrap .effect.hover8:hover .back {
  transform: rotateX(0deg);
}
